.rules {
    font-family: "East Sea Dokdo", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  min-height: 75vh;
}

.levels {
    font-size: 14px;
  line-height: 150%;
  background-color: #b8e8fc;
  margin: 0px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 20px;
}

.block-4 {
    height: 100%;
}

.levels-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
}

.level {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.level.completed {
  background-color: green;
  color: white;
}

.level.hint-used {
  background-color: yellow;
}

.level.current-level {
  background-color: blue;
  color: white;
}